<div id="content">

<h1>Editing Project</h1>

  <p id="notice"><%= notice %></p>

<%= link_to project_path(@project) do %>
  <span class="glyphicon glyphicon-backward"></span>
<% end %>

<%= render 'form' %>

</div>
