body
{
  padding-top: 30px;
}

h1
{
  text-align:center;
  margin-top: 30px;
}

#content
{
  padding-left:35px;
}
.data_table
{
}

  .row-fluid
{
}

.new_modal_btn.btn
{
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

