<div id="content">

<h1>Editing Step</h1>

<p id="notice"><%= notice %></p>

  <%= link_to project_test_case_path(@step.test_case.project, @step.test_case) do %>
    <span class="glyphicon glyphicon-backward"></span>
  <% end %>

  <%= render 'form' %>

</div>
