<h1>Editing Test Case</h1>

<div id="content">

  <%= link_to project_test_case_path(@project, @tc) do %>
    <span class="glyphicon glyphicon-backward"></span>
  <% end %>

  <%= render 'form' %>

</div>
