<!DOCTYPE html>
<html>
<head>
  <title>Slick Test</title>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css" />
  <script type="text/javascript" src="/javascripts/vendor/jquery-2.0.0.min.js" ></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js" ></script>
</head>
<body>

<%= yield %>

</body>
  <script type="text/javascript" src="/javascripts/main.js" ></script>
  <script type="text/javascript" src="/javascripts/projects.js" ></script>
  <script type="text/javascript" src="/javascripts/test_cases.js" ></script>
  <script type="text/javascript" src="/javascripts/steps.js" ></script>
</html>
